
@mixin selectQuiz {
    position: absolute;
    top: 20vh;
    right: 5%;
    left: 5%;
    height: 70vh;
    background: #1a202c;
    z-index: 20;
    color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 1fr;
    box-shadow: 0px 10px 30px black;
}

@mixin selectHeader($fontSize) {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fontSize;   
}

@mixin selectedAnswers($fontSize,$answersFontSize) {
    #selected-answers {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $fontSize;
    }
    
    #answered-questions {
        display: grid;
        grid-template-columns: 50% 50%;
        
        .answer-grid1,
        .answer-grid2 {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            div {
                font-size: $answersFontSize;
                text-align: center;
            }
        }
    }
}

@mixin quizBody {
    position: absolute;
    top: 20vh;
    right: 5%;
    left: 5%;
    height: 70vh;
    border: none;
    border-radius: 10px;
    background: transparent;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 10%;
    row-gap: 15px;
}


@mixin quizTitleAndQuestions() {
    .quiz-title {
        border-radius: 10px;
        box-shadow: 0px 10px 30px black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .question-answer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 1fr;
        border-radius: 10px;
        box-shadow: 0px 10px 30px black;
    }
}

@mixin quizAnswerButtonContainerAndSaveSlot(
    $questionFontSize,
    $answerFontSize,
    $nextAndPrevBtnFontSize,
    $saveFontSize) {
    .question-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .question-box {
            padding: auto 5px;
            overflow-wrap: normal;
            text-align: center;

            h3 {
                font-size: $questionFontSize;
            }
        }
    }
    
    .answers-box {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        
        button {
            text-align: center;
            width: 50%;
            height: 60%;
            padding: 0 5px 5px 0;
            border: none;
            font-family: inherit;
            font-size: $answerFontSize;
            background: transparent;
            visibility: hidden;
            
            &:disabled {
                background: transparent;
                color: black;
            }
        }
    }
    .btn-container {
        display: grid;
        grid-template-columns: 30% 1fr 30%;
        button {
            border-radius: 10px;
            box-shadow: 0px 10px 30px black;
            width: 100%;
            height: 100%;
            background: transparent;
            text-align: center;
            border: none;
            transition: color 150ms;
            visibility: hidden;
            font-size: $nextAndPrevBtnFontSize;
            
        }
        .save-slot {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $saveFontSize;
        }
    }
}

@media only screen and (max-width: 300px) {
    main {
        position: relative;
        #select-quiz {
            @include selectQuiz();
            
            .select-header {
                @include selectHeader(large);
            }
            
            @include selectedAnswers(large,x-small);
        }
        
        .quiz-body {
            @include quizBody();
            @include quizTitleAndQuestions();
            @include quizAnswerButtonContainerAndSaveSlot(medium,small,large,small);   
        }
    }
}

@media only screen and (min-width: 301px) and (max-width: 500px) {
    main {
        position: relative;
        #select-quiz {
            @include selectQuiz();
            
            .select-header {
                @include selectHeader(x-large);
            }
            
            @include selectedAnswers(large,small);
        }
        
        .quiz-body {
            @include quizBody();
            @include quizTitleAndQuestions();
            @include quizAnswerButtonContainerAndSaveSlot(large,small,large,medium);
        }
    }
}


@media only screen and (min-width: 501px) {
    main {
        position: relative;
        #select-quiz {
            @include selectQuiz();
            
            .select-header {
                @include selectHeader(xx-large);
            }
            
            @include selectedAnswers(x-large,medium);
        }
        
        .quiz-body {
            @include quizBody();
            @include quizTitleAndQuestions();
            @include quizAnswerButtonContainerAndSaveSlot(x-large,medium,x-large,x-large);

            .answers-box button:hover {
                cursor: pointer;
            }
            
            .btn-container button:hover {
                cursor: pointer;
                opacity: 1;
                transition: color 150ms;
                color: white;
            }

            .btn-container button:active {
                transition: color 150ms;
                color: black;
            }
        }
    }
}